.table{
    width: 100%;
    align-items: center;
}

.table, th{
    
    padding: 1rem;
    border-collapse: collapse;
}

thead tr th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #00BFFF;
    color: white;
    font-size: 1rem;
}

thead tr th:first-child{
    border-top-left-radius: 10px;

}

thead tr th:last-child{
    border-top-right-radius: 10px;

}

tbody tr:nth-child(even){
    /* background-color: #00000027; */
    background-color: #00BFFF;
}

/* 
.storage-desktop{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "list bill";
}

.list{
    grid-area: list;
    background-color: red;
} */
