.storageDesktop{
    display: flex;
    /* background: url('https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHVycGxlJTIwc2t5fGVufDB8fDB8fHww&w=1000&q=80') 
        center/cover
    ; */
    font-family: 'Poppins', sans-serif;
    padding: 5px;

}

.modal {
    
}