.storageDesktop{
    display: flex;
    /* background: url('https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHVycGxlJTIwc2t5fGVufDB8fDB8fHww&w=1000&q=80') 
        center/cover
    ; */
    font-family: 'Poppins', sans-serif;
    padding: 5px;

}

.modalBodyContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1 1;
    column-gap: 10px;
    row-gap: 10px;
}

.checkoutSection{
    grid-row: 1/3;
    grid-column: 2/3;
    text-align: center;
    
}