.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
}

.desktop{
    display: flex;
    /* background: url('https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHVycGxlJTIwc2t5fGVufDB8fDB8fHww&w=1000&q=80') 
        center/cover
    ; */
    font-family: 'Poppins', sans-serif;
    padding: 5px;

}

.tableContainer{
    /* width: 70%; */
    flex:auto;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem  
    ;
    border-radius: .8rem;
    overflow: hidden;

    margin: 0.5rem;
    
}

.searchAndFilter{
    width: 100%;
}

.table__header{
    display: flex;
    width: 100%;
    max-height: 20%;
    padding-top:  0 1rem;
    padding-top:  .8rem;
    color: #00BFFF;
    padding-bottom: .3rem;

}   

.table__body{
    width: 95%;
    max-height: calc(89% - .8rem);
    margin: 0.8rem auto;

    border-radius: .6rem;
    overflow: auto;

}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

.table, th, td{
    
    padding: 1rem;
    border-collapse: collapse;
}