.item-container{
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr  5fr 1fr;
    grid-template-rows: 10fr 2fr;
    grid-template-areas: 
        "img infor check-box"
        "img function check-box";
    font-size: 15px;
}


.infor{
    color: black;
    font-size: 15px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    grid-area: infor;
}

.function{
    grid-area: function;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    
}
.function input{
    vertical-align: center;
    height: 30px;
    width: 30px;
    margin: 0px 5px;
    border-radius: 10px;
}

.function button {
    height: 30px;
    line-height: 1;      
    vertical-align: middle;  
}

.check-box{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: check-box;
}

.check-box input{
    border-width: px;
    border-color: black;
    
}

/* test */


table{
    width: 100%;
    align-items: center;
}

.container1{
    min-height: 100vh;
    width: 100vw;
    background: url('https://edit.org/images/cat/book-covers-big-2019101610.jpg') center/cover;
    
}

.table{
    width: 70vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem ;
    border-radius: .8rem;
    overflow: hidden;

}

.table__header{
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
}

.table__body{
    width: 95%;
    max-height: calc(89% - .8rem);
    margin: 0.8rem auto;

    border-radius: .6rem;
    overflow: auto;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}


table, th,td {
    
    padding: 1rem;
    border-collapse: collapse;
}

/* tr{
    width: 100%;
    background-color: #fff4;
} */


td img{
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 10%;

    vertical-align: middle;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}

tbody tr:nth-child(even){
    background-color: #0000000b;
}


.storage-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "list bill";
}